header{
    background-color: var(--cor-azul);

    padding: 1rem;
    display: flex;

    align-items: center;
    justify-content: space-between;
}
header img{
    width: 4rem;
    border-radius: 50%;
}

header .redes a i{
    color: var(--cor-amarelo);
    font-size: 2rem;
    margin: .5rem;
}